[
    {
        "network": "Uni-6",
        "rpc": "https://network-rpc.reece.sh:443/abci_info",
        "upgrade_height": 2501803,
        "check_seconds": 6,
        "webhook": "https://discord.com/api/webhooks/..."
    }
]